@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main-ttl-container {
  /*   margin-left: 70%;
    margin-top: 20%;*/
  position: absolute;
  top: 50%;
  right: 5%;
}
.main-ttl-sm {
  color: black;
  font-size: 30px;

  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 90%,
    hotpink 90%,
    hotpink 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;
}

.main-ttl-sm:hover {
  background-size: 100% 10%;
  background-position-x: left;
}
.main-ttl-lg {
  color: black;
  font-size: 35px;
}

.order-btn {
  color: black;
  font-size: 22px;
  background-color: transparent;
  border: 2px solid darkolivegreen;
  height: 50px;
  width: 100px;
}

.heart {
  background-color: transparent;
}

.order-btn:hover {
  background-color: rgba(150, 209, 189, 0.623);
}

.order-btn:active {
  background-color: transparent;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

#products {
  height: 200vh;
  background-color: #ce8d4d;
}

.card {
  height: 450px;
  width: 400px;
  background-color: white;
  padding: 2em 2em 0;
}
.center-card {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: stretch;
  width: auto;
  padding: 2em 2em 0;
}
/*.cards {
    display: flex;
    /*overflow-x: scroll; not needed for flex
    flex-wrap: wrap;
    gap: 20px;
    
}*/

.cards {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 30px;
  justify-content: center;
}
.prod-img {
  height: 430px;
}

.img-container {
  text-align: center;
}

.prod-details {
  text-align: left;
  max-width: calc(100% - 45px);
  margin: 10px 40px;
}

.prod-name {
  color: black;
  font-size: 22px;
  margin: 10px 70px;
}

.prod-discription {
  color: black;
  font-size: 22px;
  margin: 10px 70px;
}

.prodAddMinus {
  margin: 10px 100px;
}
.arabica-img {
  width: 300px;
  height: 350px;
}
